.container {
  width: 100%;
  height: 100vh;
  color: white;
}

.box {
  display: flex;
  justify-content: space-around;
}

.block {
  width: 300px;
  height: 300px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.number {
  border: 1px solid white;
  margin-left: 5px;
  padding: 5px;
}

.array {
  display: flex;
  margin-bottom: 10px;
}

.switcher {
  display: flex;
  flex-wrap: wrap;
}

.switcher {
  margin: 10px;
}